*~
*.db
*.autosave
build*/*
.DS_Store
CMakeLists.txt.user
wt.tags
doc/tutorial/auth.html
doc/tutorial/dbo.html
doc/tutorial/wt.html
doc/reference
doc/examples
examples/*/resources
examples/hello/*.svg
examples/widgetgallery/docroot/resources
resources/tiny_mce
test/interactive
debug/
.vscode/
