
.upload-block {
    width: 10px;
    height: 10px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}

.upload-block.cancelled {
    background-color: grey;
}

.upload-block.ready {
    background-color: green;
}

.upload-block.invalid {
    background-color: red;
}
