/*
 * Outset
 */
.Wt-outset {
    border: 1px solid #888888;
}

/*
 * WFormWidget
 */
.Wt-edit-emptyText {
    color: gray;
}

/*
 * Silk screen
 */
.Wt-dialogcover {
    background: #CCCCCC;
}

/*
 * WCalendar
 */
.Wt-cal {
    padding: 0px;
}

.Wt-cal table {
    border-left: 1px solid #E0E0E0;
    border-collapse:separate;
    background-color: #fff;
    text-align: center;
    font-size: 10pt;
    line-height: 140%;
}

.Wt-cal table.d1 {
    width: 170px;
}

.Wt-cal table.d1 td {
    width: 20px;
}

.Wt-cal table.d3 {
    width: 220px;
}

.Wt-cal table.d3 td {
    width: 30px;
}

.Wt-cal table.dlong {
    width: 560px;
}

.Wt-cal table.dlong td {
    width: 80px;
}

.Wt-cal caption {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #EEEEEE;
}

.Wt-cal caption select {
    cursor: pointer; cursor: hand;
    margin: 2px 0px;
    vertical-align: middle;
}

.Wt-cal-navbutton {
    color: #FFFFFF;
    background-color:#6699CC;
    cursor: pointer; cursor: hand;
    padding: 0px 2px 2px;
    vertical-align: middle;
}

.Wt-cal-year {
    vertical-align: middle;
}

.Wt-cal-year span {
    padding: 2px 2px;
}

.Wt-cal-year span:hover {
    background-color:#FFFFCC;
}

.Wt-cal th {
    color: #666666;
    border: 0px;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;    
    line-height: 140%;
}

.Wt-cal td {
    color: #003DB8;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer; cursor: hand;
    text-align: center;
}

.Wt-cal-oom {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.Wt-cal-oor {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.Wt-cal-sel {
    background-color:#FFF19F;
}

.Wt-cal-now {
    color: black;
    background: #EEEEEE;
}

/*
 * WDatePicker
 */
.Wt-datepicker {
    background-color: #EEEEEE;
}

/*
 * WDialog
 */
.Wt-dialog {
    background-color: #EEEEEE;
}

.Wt-dialog .titlebar {
    background: #888888; color: #FFFFFF;
    cursor: move;
    padding: 2px 6px 3px;
}

.Wt-dialog .body {
    background: #EEEEEE;
    padding: 4px 6px 4px;
}

/*
 * WMenuItem
 */
.Wt-closeicon {
    background: transparent url(../../closeicons-mi.png) no-repeat scroll right top;
    height: 8px;
    width: 9px;
    margin: 0px 5px 0px 2px;
    padding: 0px;
    font-size: 0px;
    cursor: default;
}

.Wt-closeicon:hover {
    background-position: right -8px;
}

/* 
 * WMessageBox
 */
.Wt-msgbox-buttons button {
    padding: 1px 4px 1px;
    margin: 2px;
}

/*
 * WGridLayout
 */

.Wt-hrh div, .Wt-vsh {
    cursor: row-resize;
    margin: 2px;
}

.Wt-vrh div, .Wt-hsh {
    cursor: col-resize;
    margin: 0px 2px;
}

.Wt-hrh div {
    background: url(splitter-v.png) no-repeat 50% 50%;
}

.Wt-vrh div {
    background: url(splitter-h.png) no-repeat 50% 50%;
}

.Wt-hrh div, .Wt-vrh div {
    background-color: #CCCCCC;
}

.Wt-hsh, .Wt-vsh {
    background-color: #EEEEEE;
}

.Wt-hrh div:hover, .Wt-vrh div:hover {
    background-color: #EEEEEE;
}

/*
 * WItemDelegate, when editable
 */
.Wt-delegate-edit {
  line-height: 0px;
}

/*
 * WPanel
 */
.Wt-panel {
  border: 3px solid #888888;
  background: #EEEEEE none repeat scroll 0%;
}
.Wt-panel .titlebar {
  padding: 0px 6px 3px;
  background: #888888; color: #FFFFFF;
  font-size: 10pt;
}

.Wt-panel .body {
  background: #FFFFFF;
  padding: 4px 6px 4px;
}

/*
 * WPopupMenu
 */
.Wt-popupmenu {
    background: white;
    color: black;
    border: 1px solid #666666;
    z-index: 200;
    cursor: default;
}

.Wt-popupmenu .Wt-item, .Wt-popupmenu .Wt-selected {
    padding: 2px 0px;
}

.Wt-popupmenu .Wt-selected {
    background: blue;
    color: white;
}

.Wt-popupmenu .Wt-disabled {
    color: #AAAAAA;
}
 
.Wt-popupmenu .Wt-separator {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #DDDDDD;
    margin: 0px 3px;
}

/*
 * WProgressBar
 */
.Wt-progressbar
{
   background: #333;
   position: relative;
   border-width: 1px;
   border-style: solid;
   border-color: black;
   overflow: hidden;
   color: #FFF;
   font-weight: bold;
   width: 200px;
   height: 1em;
   line-height: 1em;
 }

.Wt-progressbar .Wt-pgb-bar
{
   position: absolute;
   left: 0px;
   top: 0px;
   height: 100%;
   background: #292;
}

.Wt-progressbar .Wt-pgb-label
{
   position: absolute;
   left: 0px;
   width: 100%;
   text-align: center;
   font-size: 0.8em;
   top:0.1em;
}

/* 
 * WSuggestionPopup
 */
.Wt-suggest {
    background-color: #e0ecff;
    color: #1010cc;
    border: 1px solid #666666;
    cursor: default;
    font-size: smaller;
}

.Wt-suggest .content {
    overflow-y: auto;
    padding: 2px;
}

.Wt-suggest .content div {
    padding: 0px 3px;
}

.Wt-suggest .sel {
    background-color: #C3D9FF;
}

.Wt-suggest-dropdown {
    background-image: url('dropdown.png');
    background-repeat: no-repeat;
    background-position: right center;
}

/*
 * WSlider
 */
.Wt-slider .handle-h {
    background: url(slider-thumb-h.gif) no-repeat
}

.Wt-slider .handle-v {
    background: url(slider-thumb-v.gif) no-repeat
}

/*
 * WSpinBox
 */
.Wt-spinbox {
    background-image: url('spin-buttons.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.Wt-spinbox-up {
    background-image: url('spin-buttons-up.png');
}

.Wt-spinbox-dn {
    background-image: url('spin-buttons-dn.png');
}

/*
 * WTabWidget
 */
.Wt-tabs {
    margin-bottom: 4px;
    zoom: 1;
    width: 100%;
}

.Wt-tabs li {
    display: inline;
}

.Wt-tabs ul {
    margin: 0px;
    padding-left: 10px;
    list-style-type: none;
    list-style-position: outside;
    background: transparent url(../../tab_b.gif) repeat-x scroll center bottom;
    overflow: auto;
}

.Wt-tabs span {
    background: transparent url(../../tab_r.gif) no-repeat scroll right top;
    border-bottom:1px solid #84B0C7;
    float:left; display:block;
    cursor:pointer;cursor:hand;
    font-size: small; font-weight: bold;
}

.Wt-tabs span.itemselected, .Wt-tabs span.citemselected {
    background-position:100% -150px;
}

.Wt-tabs span span {
    background: transparent url(../../tab_l.gif) no-repeat scroll left top;
    border-bottom: 0px;
    white-space: nowrap;
    padding:5px 9px;color:#1A419D;
}

.Wt-tabs span.itemselected span, .Wt-tabs span.citemselected span {
    background-position:0% -150px;
}

.Wt-tabs .Wt-closeicon, .Wt-tabs span.citemselected .Wt-closeicon {
    background: transparent url(../../closeicons-tab.png) no-repeat scroll right top;
    margin: 6px 4px 0px 0px;
    height: 13px;
    width: 13px;
    border: 0px;
    padding: 0px;
    cursor: default;
}

.Wt-tabs .Wt-closeicon:hover, .Wt-tabs span.citemselected .Wt-closeicon:hover {
    background-position: right -13px;
}

/*
 * WTree(node)
 */

.Wt-tree {
    table-layout: fixed;
    font-family: verdana,helvetica,tahoma,sans-serif;
    font-size: 9pt;
    cursor: default;
    white-space: nowrap;   
}

/* nodes */
.Wt-tree .Wt-trunk {
    background: url(../../line-trunk.gif) repeat-y;
    width: 19px;
    padding: 0px;
}

.Wt-tree .Wt-end {
    background: url(../../line-last.gif) no-repeat 0 0;
    width: 19px;
    padding: 0px;
}

.Wt-tree .Wt-expand {
    width: 19px;
    height: 18px;
    padding: 0px;
}

.Wt-tree .Wt-collapse {
    width: 19px;
    height: 18px;
    padding: 0px;
}

.Wt-tree .Wt-noexpand {
    width: 19px;
    height: 18px;
    background: url(../../line-middle.gif) no-repeat 0 0;
    display: block;
    padding: 0px;
}

.Wt-sentinel {
    table-layout: auto;
}

.Wt-treetable div.Wt-header {
    font-family: verdana,helvetica,tahoma,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    cursor: default;
    background-color: #EEEEEE;
    white-space: normal;
    text-overflow: ellipsis;
    padding: 3px 0px;
}

/* selection */
.Wt-tree .Wt-selected {
    background-color: #FFFFAA;
}

/* label */
.Wt-tree .Wt-label {
    padding: 0px 2px;
    line-height: 150%;
}

/*
 * WTableView
 */
.Wt-tableview {
    font-family: verdana,helvetica,tahoma,sans-serif;
    font-size: 9pt;
    cursor: default;
}

.Wt-tableview .Wt-spacer {
    background: url(../../loading.png);
    position: relative;
    overflow: hidden;
}

/* header */

.Wt-tableview {
    white-space: nowrap
}

.Wt-tableview .Wt-headertable,
.Wt-tableview .Wt-headertable .Wt-rowc,
.Wt-tableview th {
    background-color: #EEEEEE;
}

.Wt-tableview th {
    padding: 0px;
}

.Wt-tableview table {
    background-position: left bottom;
}

.Wt-tableview .Wt-header .Wt-label {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Wt-tableview .Wt-tv-rh:hover {
    background-color: #DDDDDD;
}

.Wt-tableview .Wt-tv-sh-none {
    background: url(sort-arrow-none.gif) no-repeat 0 6px;
}

.Wt-tableview .Wt-tv-sh-up {
    background: url(sort-arrow-up.gif) no-repeat 0 6px;
}

.Wt-tableview .Wt-tv-sh-down {
    background: url(sort-arrow-down.gif) no-repeat 0 6px;
}

/* selection */
.Wt-tableview .Wt-selected {
    background-color: #FFFFAA;
}

/* item drag & drop */
.Wt-tableview .Wt-drop-site {
    background-color: #EEEEEE;
    outline: 1px dotted black;
}

.Wt-tableview .Wt-tv-contents {
    position: absolute;
}

/* borders */
.Wt-tableview .Wt-tv-br,
.Wt-tableview .Wt-tv-contents .Wt-tv-c,
.Wt-tableview .Wt-plaintable tbody .Wt-tv-c {
    border-right: 1px solid #FFFFFF;
}

/*
 * WTreeView
 */
.Wt-treeview {
    font-family: verdana,helvetica,tahoma,sans-serif;
    font-size: 9pt;
    cursor: default;
    white-space: nowrap;
}

.Wt-treeview .Wt-spacer {
    background: url(../../loading.png);
}

/* header */
.Wt-treeview .Wt-headerdiv, .Wt-treeview .Wt-headerdiv .Wt-tv-rowc {
    background-color: #EEEEEE;
}

.Wt-treeview .Wt-headerdiv .background {
    background-color: #FFFFFF;
}

.Wt-treeview .Wt-header div.Wt-label {
    white-space: normal;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Wt-treeview .Wt-tv-rh:hover {
    background-color: #DDDDDD;
}

.Wt-treeview .Wt-tv-sh-none {
    background: url(sort-arrow-none.gif) no-repeat 0 6px;
}

.Wt-treeview .Wt-tv-sh-up {
    background: url(sort-arrow-up.gif) no-repeat 0 6px;
}

.Wt-treeview .Wt-tv-sh-down {
    background: url(sort-arrow-down.gif) no-repeat 0 6px;
}

/* nodes */
.Wt-treeview .Wt-trunk {
    background: url(../../line-trunk.gif) repeat-y;
}

.Wt-treeview .Wt-end {
    background: url(../../tv-line-last.gif) no-repeat 0 center;
}

.Wt-treeview .Wt-expand {
    width: 19px;
    height: 18px;
    background: url(nav-plus.gif) no-repeat 0 center;
}

.Wt-treeview .Wt-collapse {
    width: 19px;
    height: 18px;
    background: url(nav-minus.gif) no-repeat 0 center;
}

.Wt-treeview .Wt-noexpand {
    width: 19px;
    height: 18px;
    background: url(../../line-middle.gif) no-repeat 0 center;
}

/* selection */
.Wt-treeview .Wt-selected {
    background-color: #FFFFAA;
}

/* item drag & drop */
.Wt-treeview .Wt-drop-site {
    background-color: #EEEEEE;
    outline: 1px dotted black;
}

/*
 * WTreeView and WTableView default paging bar
 */
.Wt-pagingbar {
    text-align: center;
    padding: 2px;
    height: 25px;
    line-height: 25px;
}

.Wt-pagingbar span {
    margin: 0px 4px;
}

.Wt-pagingbar button {
    margin: 0px 4px;
}

/*
 * For Ext::TableView
 */

table.x-grid3-row-table {
    table-layout: fixed;
}