/*
 * Effects
 */

/*
 * Outset using a dropshadow
 */
.Wt-outset {
    border: 1px solid white;
    position: relative;
    margin: 6px;
}

.Wt-outset .Wt-x1, .Wt-outset .Wt-x1a,
.Wt-outset .Wt-x2, .Wt-outset .Wt-x2a {
    background:transparent url(dropshadow.png) no-repeat scroll 0 0;
    position:absolute;
    height:100%;
    width:100%;
}

.Wt-outset .Wt-x1 {
    background-position:0 0;
    bottom:0;
    left:-7px;
    padding:0 0 2px 0;
    top:-7px;
    z-index:-2;
}

.Wt-outset .Wt-x1 .Wt-x1a {
    background-position:100% 0;
    height: 12px;
    right:-14px;
    top:0;
    width:14px;
}

.Wt-outset .Wt-x2 {
    background-position:100% 100%;
    bottom:-7px;
    padding:2px 0 0 0;
    right:-7px;
    z-index:-1;
}

.Wt-outset .Wt-x2 .Wt-x2a {
    background-position:0 100%;
    bottom:0;
    height:12px;
    left:-14px;
    width:14px;
}

/*
 * WFormWidget
 */
.Wt-edit-emptyText {
    color: gray;
}

/*
 * Silk screen
 */
.Wt-dialogcover {
    background: #CCCCCC;
}

/*
 * WCalendar
 */
.Wt-cal {
    padding: 0px;
}

.Wt-cal table {
    border-left: 1px solid #727D9C;
    font: normal 13px/22px "Trebuchet MS", Verdana, Arial, Helvetica,
      sans-serif;
    color: #515B66;
    text-align: center;
    background-color: #fff;
    border-collapse: separate;
}

.Wt-cal table.d1 {
    width: 155px;
}

.Wt-cal table.d1 td {
    width: 20px;
}

.Wt-cal table.d3 {
    width: 220px;
}

.Wt-cal table.d3 td {
    width: 30px;
}

.Wt-cal table.dlong {
    width: 490px;
}

.Wt-cal table.dlong td {
    width: 70px;
}

.Wt-cal caption {
    margin: 0;
    padding: 0;
    background: #6880A0 url(title-gradient.png) repeat-x scroll 0 -20px;
    color: #fff;
    font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

.Wt-cal-navbutton {
    cursor: pointer; cursor: hand;
    font: bold 20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.Wt-cal caption select {
    cursor: pointer; cursor: hand;
    font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    margin: 2px 0px;
    vertical-align: middle;
}

.Wt-cal-year {
    vertical-align: middle;
}

.Wt-cal-year span {
    padding: 1px 2px;
}

.Wt-cal-year span:hover {
    color: #6880A0;
    background-color: #F0F0F0;
}

.Wt-cal th {
    font: bold 12px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #515B66;
    background: #D9E2E1;
    border-right: 1px solid #6880A0;
    border-bottom: 1px solid #6880A0;
    border-top: 1px solid #6880A0;
    cursor: default;
}

.Wt-cal td {
    border-right: 1px solid #6880A0;
    border-bottom: 1px solid #6880A0;
    text-align: center;
    cursor: default;
}

.Wt-cal-oom {
    color: #CCCCCC;
}

.Wt-cal-oor {
    color: #CCCCCC;
}

.Wt-cal-sel {
    background-color:#FFF19F;
}

.Wt-cal-now {
    color: #F6F4DA;
    font-weight: bold;
    background: #AAAAAA;
}

/*
 * WDatePicker
 */
.Wt-datepicker {
    background-color: white;
}

/*
 * WDialog
 */
.Wt-dialog {
    background-color: white;
}

.Wt-dialog .titlebar {
    color: #FFFFFF;
    background: #6880A0 url(title-gradient.png) repeat-x scroll 0 -20px;
    cursor: move;
    font: bold 12px Verdana;
    padding: 3px 6px;
}

.Wt-dialog .body {
    padding: 4px 6px;
}

/*
 * WMessageBox
 */
.Wt-msgbox-buttons button {
    padding: 1px 4px 1px;
    margin: 2px;
}

/*
 * WGridLayout
 */

.Wt-hrh div, .Wt-vsh {
    cursor: row-resize;
    margin: 2px;
}

.Wt-vrh div, .Wt-hsh {
    cursor: col-resize;
    margin: 0px 2px;
}

.Wt-hrh div {
    background: url(splitter-v.png) no-repeat 50% 50%;
}

.Wt-vrh div {
    background: url(splitter-h.png) no-repeat 50% 50%;
}

.Wt-hrh div, .Wt-vrh div {
    background-color: #EEEEEE;
}

.Wt-hsh, .Wt-vsh {
    background-color: #8ea2bd;
}

.Wt-hrh div:hover, .Wt-vrh div:hover {
    background-color: #8ea2bd;
}

/*
 * WItemDelegate, when editable
 */
.Wt-delegate-edit {
  line-height: 0px;
}

/*
 * WPanel
 */
.Wt-panel {
}

.Wt-panel .titlebar {
    color: #FFFFFF;
    background: #6880A0 url(title-gradient.png) repeat-x scroll 0 -20px;
    font: bold 12px Verdana;
    padding: 3px 6px;
    cursor: default;
}

.Wt-panel .body {
    padding: 4px 6px;
}

/*
 * WPopupMenu
 */
.Wt-popupmenu {
    background: #FAFAFA;
    font: normal 13px/22px "Trebuchet MS", Verdana, Arial, Helvetica,
      sans-serif;
    color: #515B66;
    z-index: 200;
    cursor: default;
    white-space: nowrap;
}

.Wt-popupmenu .Wt-item, .Wt-popupmenu .Wt-selected {
    padding: 2px 0px;
}

.Wt-popupmenu .Wt-item input, .Wt-popupmenu .Wt-selected input {
    margin-left: 4px;
}

.Wt-popupmenu .Wt-selected {
    background: #6880A0;
    color: white;
}

.Wt-popupmenu .Wt-disabled {
    color: #AAAAAA;
}

.Wt-popupmenu .Wt-separator {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #DDDDDD;
    margin: 0px 3px;
    line-height: 0px;
}

/*
 * WProgressBar
 */
.Wt-progressbar
{
   font: normal 1em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
   background: gray;
   border: 1px solid #555;
   position: relative;
   overflow: hidden;
   color: white;
   font-weight: bold;
   width: 200px;
   height: 1em;
   line-height: 1em;
 }

.Wt-progressbar .Wt-pgb-bar
{
   position: absolute;
   left: 0px;
   top: 0px;
   height: 100%;
   background: #6880A0 url(title-gradient.png) repeat-x scroll 0 -20px;
}

.Wt-progressbar .Wt-pgb-label
{
   font-size: 0.8em;
   position: absolute;
   left: 0px;
   width: 100%;
   text-align: center;
}

/*
 * WPushButton
 */
.Wt-btn:hover {
    border-color:#99CCFF #6699EE #6699EE #77AAFF;
}

.Wt-btn {
    background: transparent url(gradient.png) repeat-x scroll 0 0;
    border: 1px outset #CCCCCC;
    cursor: pointer;
    font-size: small;
    margin: 0px 2px;
    padding: 2px 5px;
    text-decoration: none;
}

.Wt-btn:active {
    border: 1px inset #CCCCCC;
}

/*
 * WSlider
 */
.Wt-slider .handle-h {
    background: url(slider-thumb-h.gif) no-repeat
}

.Wt-slider .handle-v {
    background: url(slider-thumb-v.gif) no-repeat
}

/* 
 * WSuggestionPopup
 */
.Wt-suggest {
    background: #FAFAFA;
    font: normal 13px/22px "Trebuchet MS", Verdana, Arial, Helvetica,
      sans-serif;
    color: #515B66;
    cursor: default;
}

.Wt-suggest .content {
    overflow-y: auto;
}

.Wt-suggest .content div {
    padding: 0px 3px;
}

.Wt-suggest .sel {
    background: #6880A0;
    color: white;
}

.Wt-suggest-dropdown {
    background-image: url('suggest-dropdown.png');
    background-repeat: no-repeat;
    background-position: right center;
}

/*
 * WSpinBox -- todo: polish this
 */
.Wt-spinbox {
    background-image: url('../default/spin-buttons.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.Wt-spinbox-up {
    background-image: url('../default/spin-buttons-up.png');
}

.Wt-spinbox-dn {
    background-image: url('../default/spin-buttons-dn.png');
}

/*
 * WTabWidget
 */
.Wt-tabs-clear {
    clear: both;
}

.Wt-tabs {
    border-bottom: 1px solid gray;
}

.Wt-tabs ul {
    padding: 3px 3px 0px;
    font: bold 12px Verdana;
    list-style-type: none;
    margin: 0px;
}

.Wt-tabs li {
    display: inline;
    white-space: nowrap;
    margin: 0;
}

.Wt-tabs .item, .Wt-tabs .itemselected,
.Wt-tabs .citem, .Wt-tabs .citemselected {
    display: block;
    float: left;
    padding: 2px 6px 3px;
    margin-right: 3px;
    border: 1px solid gray;
    border-bottom: none;
    background: #6880A0 url(title-gradient.png) repeat-x scroll 0 -20px;
    color: #FFFFFF;
}

.Wt-tabs li a, .Wt-tabs li button {
   text-decoration: none;
   color: inherit;
}

.Wt-tabs li button a {
    padding: 0;
    margin: 0;
    border: 0;
    color: inherit;
    background: transparent;
}

.Wt-tabs li:hover .item, .Wt-tabs .itemselected,
.Wt-tabs li:hover .citem, .Wt-tabs .citemselected,
.Wt-tabs li:hover a {
    background: white;
    color: black;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}

.Wt-tabs li .itemselected a, .Wt-tabs li .itemselected button {
    background: white;
    color: black;
}

.Wt-tabs .Wt-closeicon, .Wt-tabs span.citemselected .Wt-closeicon {
    background: transparent url(../../closeicons-tab.png) no-repeat scroll right top;
    background-position: right 3px;
    border-width: 3px 0px 0px 0px;
    padding: 0px 6px 0px 7px;
    cursor: default;
    margin-left: 3px;
    vertical-align: top;
}

.Wt-tabs .Wt-closeicon:hover, .Wt-tabs span.citemselected .Wt-closeicon:hover {
    background-position: right -10px;
}

/*
 * WTree(node)
 */
.Wt-tree {
    table-layout: fixed;
    font-family: verdana,helvetica,tahoma,sans-serif;
    font-size: 9pt;
    cursor: default;
    white-space: nowrap;
}

/* nodes */
.Wt-tree .Wt-trunk {
    width: 19px;
    padding: 0px;
}

.Wt-tree .Wt-end {
    width: 19px;
    padding: 0px;
}

.Wt-tree .Wt-expand {
    width: 19px;
    height: 18px;
    padding: 0px;
}

.Wt-tree .Wt-collapse {
    width: 19px;
    height: 18px;
    padding: 0px;
}

.Wt-tree .Wt-noexpand {
    width: 19px;
    height: 18px;
    display: block;
    padding: 0px;
}

.Wt-sentinel {
    table-layout: auto;
}

.Wt-treetable {
    background: white;
    border: 1px solid #dcdfe8;
}

.Wt-treetable .Wt-header {
    background: #6880A0 url(title-gradient.png) repeat-x scroll 0 -20px;
    font-family: verdana,helvetica,tahoma,sans-serif;
    font-size: 9pt;
    cursor: default;
    color: white;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px 0px 3px 3px;
}

/* selection */
.Wt-tree .Wt-selected {
    background-color: #999999;
    color: white;
}

/* label */
.Wt-tree .Wt-label {
    padding: 0px 2px;
    line-height: 150%;
}

/*
 * WTableView
 */
.Wt-tableview {
    font-family: verdana,helvetica,tahoma,sans-serif;
    font-size: 9pt;
    cursor: default;
    white-space: nowrap;
    background: white;
    border: 1px solid #dcdfe8;
}

.Wt-tableview .Wt-spacer {
    background: url(../../loading.png);
    position: relative;
    overflow: hidden;
}

/* header */

.Wt-tableview {
    white-space: nowrap
}

.Wt-tableview .Wt-headertable,
.Wt-tableview .Wt-headertable .Wt-rowc,
.Wt-tableview th {
    background: #6880A0 url(title-gradient.png) repeat-x scroll 0 -20px;
    color: white;
}

.Wt-tableview th {
    padding: 0px;
}

.Wt-tableview table {
    background-position: left bottom;
}

.Wt-tableview .Wt-header .Wt-label {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Wt-tableview .Wt-tv-rh:hover {
    background-color: #DDDDDD;
}

.Wt-tableview .Wt-tv-sh-none {
    background: url(sort-arrow-none.gif) no-repeat 0 6px;
}

.Wt-tableview .Wt-tv-sh-up {
    background: url(sort-arrow-up.gif) no-repeat 0 6px;
}

.Wt-tableview .Wt-tv-sh-down {
    background: url(sort-arrow-down.gif) no-repeat 0 6px;
}

/* selection */
.Wt-tableview .Wt-selected {
    background-color: #999999;
    color: white;
}

/* item drag & drop */
.Wt-tableview .Wt-drop-site {
    background-color: #EEEEEE;
    outline: 1px dotted black;
}

.Wt-tableview .Wt-tv-contents {
    position: absolute;
}

/* borders */
.Wt-tableview .Wt-tv-br {
    border-right: 1px solid #dcdfe8;
}

/* borders */
.Wt-tableview .Wt-tv-contents .Wt-tv-c,
.Wt-tableview .Wt-plaintable tbody .Wt-tv-c {
    border-right: 0px;
    margin-right: 1px;
}

/*
 * WTreeView
 */
.Wt-treeview {
    font-family: verdana,helvetica,tahoma,sans-serif;
    font-size: 9pt;
    cursor: default;
    white-space: nowrap;
    background: white;
    border: 1px solid #dcdfe8;
}

.Wt-treeview .Wt-spacer {
    background: url(../../loading.png);
}

/* header */
.Wt-treeview .Wt-headerdiv, .Wt-treeview .Wt-headerdiv .Wt-tv-rowc {
    background: #6880A0 url(title-gradient.png) repeat-x scroll 0 -20px;
    color: white;
}

.Wt-treeview .Wt-headerdiv .background {
    background-color: #FFFFFF;
}

.Wt-treeview .Wt-header .Wt-label {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Wt-treeview .Wt-tv-rh:hover {
    background-color: #DDDDDD;
}

.Wt-treeview .Wt-tv-sh-none {
    background: url(sort-arrow-none.gif) no-repeat 0 6px;
}

.Wt-treeview .Wt-tv-sh-up {
    background: url(sort-arrow-up.gif) no-repeat 0 6px;
}

.Wt-treeview .Wt-tv-sh-down {
    background: url(sort-arrow-down.gif) no-repeat 0 6px;
}

/* nodes */
.Wt-treeview .Wt-tv-node {
    /* table-layout: fixed; could be done if we improve our CSS !*/
}

.Wt-treeview .Wt-trunk {
}

.Wt-treeview .Wt-end {
}

.Wt-treeview .Wt-expand {
    width: 19px;
    height: 18px;
    background: url(nav-plus.png) no-repeat 0 center;
}

.Wt-treeview .Wt-collapse {
    width: 19px;
    height: 18px;
    background: url(nav-minus.png) no-repeat 0 center;
}

.Wt-treeview .Wt-noexpand {
    width: 19px;
    height: 18px;
}

/* selection */
.Wt-treeview .Wt-selected {
    background-color: #999999;
    color: white;
}

/* item drag & drop */
.Wt-treeview .Wt-drop-site {
    background-color: #EEEEEE;
    outline: 1px dotted black;
}

/* borders */
.Wt-treeview .Wt-tv-br {
    border-right: 1px solid #dcdfe8;
}

/* borders */
.Wt-treeview .Wt-tv-node .Wt-tv-row .Wt-tv-c {
    border-right: 0px;
    margin-right: 1px;
}

/*
 * WTreeView and WTableView default paging bar
 */
.Wt-pagingbar {
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.Wt-pagingbar span {
    margin: 0px 4px;
}

.Wt-pagingbar button {
    margin: 0px 4px;
    padding: 0px 3px;
    vertical-align: middle;
    line-height: 20px;
}

/*
 * For Ext::TableView
 */

table.x-grid3-row-table {
    table-layout: fixed;
}